unset ANTHROPIC_AUTH_TOKEN
export ANTHROPIC_BASE_URL='https://anthropic.generative.engine.capgemini.com'
export ANTHROPIC_API_KEY="sk-omIexYF2np01qvHV3AgOjQ"
export CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS='1'
