# The build.sh and make_dmg.sh scripts require details for signing
# I made this example env file to show what you need to fill in
# .env.example - Copy this to .env and fill in your details

SIGNING_IDENTITY="Developer ID Application: Your Name (TeamID)"
APPLE_ID="email@example.com"
TEAM_ID="ABC123XYZ"
APP_PASSWORD="app-spec-pass-word"